/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
sall, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	cursor: default;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

a {
	cursor: pointer;
}

ol, ul, li {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Style 
/////////////////////////////////////////////////////////////////// */

.wrap-mid {
	margin: 0 auto;
	width: 800px;
}

.wrap-lg {
	margin: 0 auto;
	max-width: 1100px;
}

.wrap-xl {
	margin: 0 auto;
	max-width: 3000px;
}

header {
	background-color: transparent;
	display: block;
	height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

header.sticky {
	box-shadow: 0px 0px 5px #666;
	font-size: 16px;
	height: 95px; 
	background-color: #fff;
	opacity: 1;
	position: fixed;
	width: 100%;
	z-index: 99;
}

#logo {
	margin: 20px 0 0 30px;
	position: absolute;
}

#logo img {
	cursor: pointer;
}

#nav {
	float: right;
	margin: 40px auto 0 auto;
	padding: 0 20px;
}

#nav li {
	display: inline-block;
	font-family: 'Avenir Next', sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	padding: 0 16px;
	text-transform: uppercase;
}

#nav a {
	color: rgba(0, 0, 0, .65);
	cursor: pointer;
	text-decoration: none;
}

#nav a:hover {
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

article {
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

article>.inner {
	display: table-cell;
	vertical-align: middle;
	padding: 100px 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

#content {
	height: 100%;
	width: 100%;
}

.about-bg {
	background: url(../img/mountains.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: -99;
}

#about figure {
	margin: 40px auto 30px auto;
}

#about h1 {
	color: rgba(0, 0, 0, .85);
	font-family: 'Avenir Next', sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	margin: 80px auto 40px auto;
	text-align: center;
}

#about p {
	color: rgba(0, 0, 0, .85);
	font-family: 'Avenir Next', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px;
	margin-bottom: 20px;
	text-align: left;
}

#about .cover {
	float: left;
	margin-bottom: 24px;
	width: 263px;
}

#about .cover img {
	float: left;
	margin-right: 14px;
	width: 120px;
}

#about .cover h3 {
	font-family: 'Avenir Next', sans-serif;
	font-size: 15px;
	line-height: 18px;
	text-align: left;
}
#about .cover p {
	font-size: 14px;
	text-align: left;
}

#work {
	background-color: #fff;
}

#work img {
	box-shadow: 0px 0px 5px #666;
	cursor: pointer;
	float: left;
	margin-right: 60px;
	width: 500px;
}

#work h1 {
	font-family: 'Avenir Next', sans-serif;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	margin: 0 auto 150px auto;
	text-align: center;
	text-transform: uppercase;
}

#work h2 {
	font-family: 'Avenir Next', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	padding-bottom: 50px;
	text-align: left;
}

#work p {
	font-family: 'Avenir Next', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	padding-bottom: 30px;
	text-align: left;
}

.button {
	margin-top: 20px;
}

.button a {
	border: 2px solid #70B8FF;
	border-radius: 2px;
	color: #70B8FF;
	text-decoration: none;
	font-size: 16px;
	padding: 10px;
}

.button a:hover {
	background-color: #70B8FF;
	color: #fff;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.detail img {
	margin: 10px auto;
	width: 100%;
}

.detail p {
	font-family: 'Avenir Next', sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	margin: 30px auto;
	text-align: center;
}

.section {
	margin: 0 auto 150px auto;
}

#contact p {
	cursor: pointer;
	font-family: 'Avenir Next', sans-serif;
	font-size: 20px;
}

#contact a {
	color: #fff;
	display: inline-block;
	margin: 0 20px;
	padding: 10px;
	text-decoration: none;
}

#fa-icons {
	margin: 150px auto 300px auto;
}

#fa-icons i {
	color: #fff;
	padding-bottom: 15px;
}

#fa-icons i:hover {
	color: rgba(0, 0, 0, .75);
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

footer {
	background-color: #000;
	display: block;
	width: 100%;
}

footer p {
	color: #fff;
	display: block;
	font-family: 'Arial', sans-serif;
	font-size: 11px;
	margin: 0 auto;
	padding: 25px 0;
	width: 300px;
}

#error-intro {
	border-radius: 5px;
	margin: -700px auto 440px auto;
	padding: 30px;
	position: relative;
}

#error-intro h1 {
	color: rgba(255, 255, 255, .85);
	font-family: "grafolita-script", italic;	
	font-size: 70px;
	font-weight: 100;
	text-align: center;
}

#error-intro p {
	color: rgba(0, 0, 0, .7);
	font-family: "azo-sans-web", sans-serif;
	font-size: 38px;
	font-style: normal;
	font-weight: 300;
	line-height: 50px;
	margin: 0 auto;
	padding: 30px 0;
	text-align: center;
	width: 480px;
}
