/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
sall, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  cursor: default;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #FFFDFB;
}

a {
  cursor: pointer;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Style 
/////////////////////////////////////////////////////////////////// */

.wrap-xs {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.wrap-sm {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}

.wrap-lg {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

h1 {
  color: rgba(0, 0, 0, .8);
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 24px;
}

h2 {
  color: rgba(0, 0, 0, .8);
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 26px;
  padding-bottom: 24px;
}

h3 {
  color: #B8B8B8;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 50px;
  text-transform: uppercase;
}

h4 {
  color: rgba(0, 0, 0, .8);
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 24px;
}

h5 {
  color: rgba(0, 0, 0, .8);
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 20px;
  padding: 30px 0 24px 0;
}

em {
  font-weight: 700;
}

i {
  font-style: italic;
}

p, li {
  color: rgba(0, 0, 0, .8);
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  padding-bottom: 36px;
}

.link {
  color: #FF5722;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
}

.link:hover {
  opacity: .7;
}

figcaption {
  color: #999;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

figcaption a {
  color: #FF5722;
  text-decoration: none;
  font-weight: 700;
}

figcaption a:hover {
  opacity: .7;
}

blockquote {
  border-left: 2px solid #FF5722;
  padding-left: 30px;
  font-style: italic;
  font-size: 18px;
}

blockquote p {
  padding-bottom: 50px;
}

blockquote footer {
  color: rgba(0, 0, 0, .8);
  font-family: "Merriweather", serif;
  font-weight: 400;
  padding-top: 16px;
  font-style: normal;
}

blockquote footer a {
  color: #FF5722;
  text-decoration: none;
}

blockquote footer a:hover {
  opacity: .7;
}

.column {
  width: 700px;
  margin-bottom: 12px;
}

#profile-img {
  width: 238px;
  margin-right: 24px;
  margin-top: 135px;
  cursor: pointer;
}

.intro {
  width: 762px;
  float: right;
  margin-top: 135px;
}

.about-intro {
  width: 762px;
  float: right;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.main {
  margin-bottom: 10px;
  margin-top: 20px;
}

.first {
  padding-top: 36px;
}

.last {
  padding-bottom: 36px;
}

.inner {
  margin-top: 135px;
}

.none {
  padding-bottom: 0;
}

.tint {
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

.ad-tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,168,189,.65);
  transition: all .3s linear;
}

.pm-tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(222,54,0,.65);
  transition: all .3s linear;
}

.et-tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(17,124,200,.65);
  transition: all .3s linear;
}

.fg-tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(236,146,199,.65);
  transition: all .3s linear;
}

.ns-tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(219,82,255,.65);
  transition: all .3s linear;
}

.yoroshiku-tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(30,130,76,.65);
  transition: all .3s linear;
}

.climbing-tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(232,126,4,.65);
  transition: all .3s linear;
}

.text {
  left: 0;
  position:absolute;
  text-align:center;
  top: 300px;
  width: 100%;
}

.text h1 {
  color: rgba(255,255,255,1);
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 24px;
}

.text h3 {
  color: rgba(255,255,255,1);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 50px;
  text-transform: uppercase;
}

ul {
  margin: 0 20px;
}

ul li {
  list-style-type: circle;
}

ul.img-list-home {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 1024px;
}

ul.img-list-home li {
  float: left;
  display: inline-block;
  position: relative;
}

ul.img-list-home li img {
  margin: 0 24px 0 0;
  width: 238px;
}

ul.img-list-home li .img-last {
  margin-right: 0;
}

span.text-content-home span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list-home li:hover span.text-content-home {
  opacity: .9;
}

span.text-content-home {
  background: rgba(255, 87, 34, 0.85);
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  display: table;
  height: 238px;
  position: absolute;
  top: 0;
  width: 238px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content-date span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 60px;
}

ul.img-list-home li:hover span.text-content-date {
  opacity: 1;
}

span.text-content-date {
  color: transparent;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  display: table;
  height: 238px;
  position: absolute;
  top: 0;
  width: 238px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content-date span {
  color: white;
}

ul.img-list-home span:hover {
  cursor: pointer;
}

ul.img-list-about {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 1024px;
}

ul.img-list-about li {
  display: inline-block;
  float: left;
  position: relative;
}

ul.img-list-about li img {
  margin: 0 24px 24px 0;
  width: 172.5px;
}

ul.img-list-about li .last {
  margin-right: 0;
}

span.text-content-about span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list-about li:hover span.text-content-about {
  opacity: 1;
}

span.text-content-about {
  background: rgba(255, 87, 34, 0.85);
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  display: table;
  height: 172.5px;
  position: absolute;
  top: 0;
  width: 172.5px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

ul.img-list-about span:hover {
  cursor: pointer;
}

.case-grid .case-group {
  float: left;
  margin-right: 12px;
  width: 500px;
}

.shadow {
  box-shadow: 0px 0px 5px #afafaf;
}

.case-group img {
  display: block;
  margin-bottom: 12px;
  width: 500px;
}

.case-lead {
  width: 1024px;
  margin-bottom: 12px;
}

article {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: left;
  vertical-align: middle;
}

article>.inner {
  display: table-cell;
  vertical-align: middle;
  padding: 60px 0;
}

footer p {
  color: #666;
  display: block;
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  margin: 0 auto;
  padding: 25px 0;
}

.highlight {
  background-color: #FFF585;
} 

/* Custom Color Text Selection 
/////////////////////////////////////////////////////////////////// */

p::selection {
  background: #FFC280;
}

p::-moz-selection {
  background: #FFC280;
}

.link::selection {
  background: #FFC280;
  padding-top: 2px;
}

.link::-moz-selection {
  background: #FFC280;
}

h1::selection {
  background: #FFC280;
}

h1::-moz-selection {
  background: #FFC280;
}

h2::selection {
  background: #FFC280;
}

h2::-moz-selection {
  background: #FFC280;
}

h3::selection {
  background: #FFC280;
}

h3::-moz-selection {
  background: #FFC280;
}

h4::selection {
  background: #FFC280;
}

h4::-moz-selection {
  background: #FFC280;
}


/* Old CSS for ref

.slide-center-out {
  text-decoration: none;
  display: inline-block;
}

.slide-center-out:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  margin: 8px auto 0 auto;
  transition: width .5s ease, background-color .5s ease;
  -webkit-transition: width .5s ease, background-color .5s ease;
  -moz-transition: width .5s ease, background-color .5s ease;
}
 
.slide-center-out:hover:after {
  width: 100%;
  background: rgba(0, 0, 0, 1);
  margin-top: 8px;
}

article {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

article>.inner {
  display: table-cell;
  vertical-align: middle;
  padding: 60px 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

#profile-img {
  margin: 80px 0 20px 0;
  height: 300px;
  width: 300px;
}

.section {
  display: block;
}

.section .image {
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 40px 100px 20px;
  width: 500px;
}

.image img {
  height: 350px;
  width: 500px;
}

.section .text {
  display: block;
  float: right;
  margin-bottom: 40px;
  padding: 0 0 100px 20px;
  width: 520px;
}

#work a {
  font-weight: 400;
}

#work h2 {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 20px;
  text-align: left;
}

#work ol {
  margin-bottom: 40px;
}

#work li {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  list-style: none;
  padding: 10px 0;
  text-align: left;
}

#work ol span {
  color: rgba(0, 0, 0, .6);
  font-size: 16px;
}

#work p {
  font-family: "calluna-sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

#work .link {
  color: #2E8AE6;
  text-decoration: none;
}

#work .link:hover {
  color: #70B8FF;
}

.button {
  margin-top: 20px;
}

.button a {
  border: 2px solid #70B8FF;
  border-radius: 2px;
  color: #70B8FF;
  font-size: 16px;
  font-size: 1rem;
  padding: 10px 30px;
  text-decoration: none;
}

.button a:hover {
  background-color: #70B8FF;
  color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.button .last {
  padding-bottom: 400px;
}

.detail .grid img {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
  margin: 20px auto;
  width: 100%;
}


#fg,
#ns,
#yoroshiku,
#et,
#tableau,
#betterpath,
#exit38,
#picmonkey {
  margin-top: 40px;
}

.detail {
  margin-top: 50px;
}

.detail a {
  color: #70B8FF;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
}

.detail a:hover {
  color: #2E8AE6;
}

.detail h1 {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 70px;
  text-align: left;
}

.detail h2 {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 30px;
  text-align: center;
}

.detail h3 {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  margin: 40px auto 0 auto;
  padding-bottom: 30px;
  text-align: left;
  text-align: center;
  text-transform: uppercase;
  width: 500px;
}

.detail p {
  color: rgba(0, 0, 0, .8);
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 20px;
  text-align: left;
}

.detail .first {
  margin-top: 20px;
}

.detail .last {
  margin-bottom: 100px;
}

.detail .top {
  margin-top: 60px;
}

.detail .second {
  margin-top: 40px;
}

.detail span {
  color: rgba(0, 0, 0, .8);
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.detail .italic {
  font-style: italic;
}

.detail .bold {
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
}

.detail blockquote,
.detail blockquote span {
  color: rgba(0, 0, 0, .7);
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 32px;
  margin: 0 100px 20px 100px;
  text-align: left;
}

.detail blockquote span {
  color: rgba(0, 0, 0, .9);
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  margin-left: 0;
}

.detail .thought {
  color: rgba(0, 0, 0, .7);
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 32px;
  margin: 0 100px 20px 0;
  text-align: left;
}

.detail ol {
  margin-left: 15%;
  padding: 10px 0 30px 0;
}

.detail li {
  color: rgba(0, 0, 0, .8);
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 34px;
  list-style: inside;
  padding-bottom: 20px;
  text-align: left;
}


footer {
  width: 100%;
}

.error-bg {
  background-image: url('../img/404.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-left: 150px;
  position: fixed;
  width: 100%;
  z-index: -99;
}

#error {
  height: 750px;
}

#error h1 {
  color: rgba(0, 0, 0, .85);
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  margin: 160px auto 25px auto;
  text-align: right;
}

#error p {
  color: rgba(0, 0, 0, .85);
  font-family: , sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 35px;
  text-align: right;
}




@media screen and (max-width: 1100px) {

  nav li {
    font-size: 18px;
    padding: 0 12px;
    width: 100px;
  }

  #home {
    height: 645px;
  }

  #home h1 {
    font-size: 36px;
    margin-top: 1%;
  }
}

@media screen and (max-width: 800px) {

  nav li {
    font-size: 17px;
    width: 90px;
  }

  #home {
    height: 450px;
  }

  #home h1 {
    font-size: 34px;
    margin-top: 2%;
  }

  img {
    float: none;
    width: 85%;
  }

  .text-list, .button {
    float: left;
    width: 60%;
  }
}

@media screen and (max-width: 600px) {


  nav li {
    font-size: 14px;
    padding: 0 8px;
    width: 70px;
  }

  #home {
    height: 350px;
  }

  #home h1 {
    font-size: 26px;
    margin-right: 2%;
    margin-top: 2%;
  }

  #about p {
    font-size: 26px;
    line-height: 40px;
  }

  img {
    float: left;
    width: 75%;
  }

  .text-list, .button {
    float: none;
    width: 75%;
  }
}


@media screen and (max-width: 400px) {

  article>.inner {
    padding: 20px 0;
  }

  header.sticky {
    height: 60px;
  }

  nav a {
    padding: 25px 0;
  }

  nav li {
    font-size: 10px;
    padding: 0 6px 0 0;
    width: 50px;
  }

  #home {
    height: 235px;
  }

  #home h1 {
    font-size: 20px;
    margin-right: -3%;
  }

  #about .cover {
    width: 280px;
  }

  #about p {
    font-size: 20px;
    line-height: 28px;
  }

  #work h1 {
    border-bottom: none;
    font-size: 28px;
    margin-bottom: 40px;
    margin-left: 30px;
    text-align: left;
  }

  img {
    float: left;
    width: 60%;
  }

  .section .image {
    float: left;
    padding: 0 0 30px 30px;
  }

  .section .text {
    float: left;
    padding: 0 0 30px 30px;
  }

  .button {
    margin-bottom: 30px;
  }
  
}

// */